<a href="https://colab.research.google.com/github/jeungsengho/python0610/blob/main/3_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC_%ED%99%9C%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* [공공데이터](https://www.data.go.kr/)에서 제공하는 데이터를 활용
* [민간 아파트 가격동향](https://bit.ly/ds-house-price)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://bit.ly/ds-house-price')

In [3]:
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4505 non-null   object
 1   규모구분     4505 non-null   object
 2   연도       4505 non-null   int64
 3   월        4505 non-null   int64
 4   분양가격(㎡)  4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [5]:
df = df.rename(columns={'분양가격(㎡)':'분양가격'})

In [6]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [7]:
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

In [8]:
# 분양가격을 int로 변환
df['분양가격'].astype(int)    # ValueError: invalid literal for int() with base 10: '  ' -> 공백존재해서

ValueError: ignored

In [9]:
# '   '  공백이 존재하는 데이터가 있는지 확인
df.loc[df['분양가격'] == '  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [10]:
# strip()를 사용하여 공백이 있는 데이터의 공백을 삭제
df['분양가격'] = df['분양가격'].str.strip()

In [12]:
df.loc[df['분양가격'] == '  ']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [13]:
df['분양가격'].astype(int)  # ValueError: invalid literal for int() with base 10: '' -> 데이터가 없어서

ValueError: ignored

In [14]:
df.loc[df['분양가격'] == '']  # 데이터가 없는 경우

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [15]:
# 데이터가 없는 경우는 0을 채워줌
df.loc[df['분양가격'] == '', '분양가격'] = 0

In [16]:
df.loc[df['분양가격'] == '']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [17]:
df['분양가격'].astype(int)  # ValueError: cannot convert float NaN to integer -> NaN값 때문

ValueError: ignored

In [18]:
# NaN을 0으로 변환
df['분양가격'] = df['분양가격'].fillna(0)

In [19]:
df['분양가격'].astype(int)  # ValueError: invalid literal for int() with base 10: '6,657' -> ,가 들어있어서 정수형 변환 에러

ValueError: ignored

In [21]:
# 콤마를 제거
df['분양가격'] = df['분양가격'].str.replace(',', '')

In [22]:
df['분양가격'].astype(int)  # ValueError: cannot convert float NaN to integer -> NaN 때문에

ValueError: ignored

In [23]:
# NaN을 0으로 변환
df['분양가격'] = df['분양가격'].fillna(0)

In [24]:
df['분양가격'].astype(int)  # ValueError: invalid literal for int() with base 10: '-'

ValueError: ignored

In [25]:
# '-'을 제거
df['분양가격'] = df['분양가격'].str.replace('-', '')

In [26]:
df['분양가격'].astype(int)  # ValueError: cannot convert float NaN to integer

ValueError: ignored

In [27]:
# NaN을 0으로 변환
df['분양가격'] = df['분양가격'].fillna(0)

In [28]:
df['분양가격'].astype(int)  # ValueError: invalid literal for int() with base 10: ''

ValueError: ignored

In [29]:
# 데이터가 없는 경우는 0을 채워줌
df.loc[df['분양가격'] == '', '분양가격'] = 0

In [30]:
df['분양가격'].astype(int)

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4500    3955
4501    4039
4502    3962
4503       0
4504    3601
Name: 분양가격, Length: 4505, dtype: int64

In [31]:
df['분양가격'] = df['분양가격'].astype(int)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB